.login {
  display: inline-block;
  margin-top = auto;
  margin-bottom = auto;
  margin-left = auto;
  margin-right = auto;
  border: 3px solid black;
  text-align: center;
  width: 40%;
  padding: 10px;
}

.header {
  color: white;
  text-align: left;
  background: black;
  top: 0px;
  left: 0px;
  padding: 45px;
  position: absolute;
  width: 100%;
}

body {
  background-color: gold;
  font-family: Arial, sans-serif;
  padding-top: 200px;
}
