.login {
  display: block;
  margin: auto;
  border: none;
  text-align: center;
  width: 40%;
  padding: 10px;
  background-color: khaki;
  border-radius: 10px;
}

.header {
  color: white;
  text-align: left;
  background: black;
  top: 0px;
  left: 0px;
  padding: 45px;
  position: absolute;
  width: 100%;
}

body {
  background-color: #FCD568;
  font-family: Arial, sans-serif;
  padding-top: 200px;
}

button {
  background-color: #FCD568;
  color: black;
  text-align: center;
  display: inline-block;
  border: none;
  margin: auto;
}

input[type=email] {
  border: none;
  border-bottom: 1px solid black;
  background-color: khaki;
}

input[type=password] {
  border: none;
  border-bottom: 1px solid black;
  background-color: khaki;
}

button:hover {
  border: 1px solid #FCD568;
  font-weight: bold;
}
