form {
  background-color: gold;
  display: inline-block;
  margin-top = auto;
  margin-bottom = auto;
  margin-left = auto;
  margin-right = auto;
}

.header {
  color: white;
  text-align: left;
  background: #000000;
}

body {
  background-color: ghostwhite;
}

.centertext {
  text-align: center;
  border: 3px solid green;
}

.centerdiv {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
